*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

h1{
    padding: 10px;
}

.main-area{
    align-self: center;
}

input{
    margin: 5px;
    margin-right: 2px;
    padding: 4px 2px;
    border-radius: 5px;
}

form{
    display: flex;
    flex-direction: column;
}

#add-button{
    padding: 4px 8px;
    border-radius: 5px;
    background-color: #945BFF77;
    color: #945BFFDD;
    border-color: #945BFFDD;
}

#task-area{
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.options{
    align-self: center;
}

.task-item{
    display: flex;
    align-items: flex-start;
    max-inline-size: 270px;
    overflow-wrap: break-word;
    margin: 4px;
}

input[type="checkbox"]{
    margin-right: 2px;
}

.task:checked + label{
    text-decoration: line-through;
    color: grey;
}

#delete-all{
    position: sticky;
    bottom: 0;
}

.options{
    margin-bottom: 10px;
}

.remove-button{
    font-size: 0px;;
    align-self: center;
    margin-left: 4px;
    width: 8px;
    border: none;
    padding: 0.8px 5px;
    background-color: transparent;
}

label:hover + .remove-button{
    width: auto;
    background-color: rgba(249, 118, 118, 0.909);
    border: #000 solid 0.3px;
    font-size: 10px;
}

.task-item:hover + .remove-button{
    width: auto;
    background-color: rgba(249, 118, 118, 0.909);
    border: #000 solid 0.3px;
    font-size: 10px;
}

.remove-button:hover{
    width: auto;
    background-color: rgba(249, 118, 118, 0.909);
    border: #000 solid 0.3px;
    font-size: 10px;
}